<!-- /about -->
<div class="w3-about" id="about">
	<div class="container">
		<div class="w3-about-head">
			<h3>About me</h3>
		</div>
		<div class="w3-about-grids">
		<div class=" w3-about-grids1">
				<div class="col-md-6 w3-about-grid-left1">
					<img src="/assets/images/ab5.jpg" alt="img1">

				</div>
				<div class="col-md-6 w3-about-grid-right1">
					<h3>Christian, in love with family and lover of Brazilian jiu-jitsu.</h3>
					<p> Throughout his career, he always seeks to perfect his skills and motivate the teams of which you are a part by example.</p>
					<p>
						Originally Java developer has plenty of experience with Spring, JSF (primefaces), JPA (Hibernate). Also worth mentioning his experience with other languages such as Javascript, NodeJs, Android, Python, and PHP. I recently started to study Docker and NoSQL databases.
					</p>

					<h5>love to materialize ideas</h5>

				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>
</div>
<!-- //about  -->
