<!-- banner -->
	<div class="w3-banner-top">
	<div class="agileinfo-dot">
			<div class="w3layouts_menu">
				<nav class="cd-stretchy-nav edit-content">
					<a class="cd-nav-trigger" href="#0"> Menu <span aria-hidden="true"></span> </a>
					<ul>
						<li><a href="#home" class="scroll"><span>Home</span></a></li>
						<li><a href="#about" class="scroll"><span>About</span></a></li>
						<li><a href="#experiences" class="scroll"><span>Experiences</span></a></li>
						<li><a href="#skills" class="scroll"><span>Skills</span></a></li>
					</ul>
					<span aria-hidden="true" class="stretchy-nav-bg"></span>
				</nav>
			</div>

		<div class="w3-banner-grids">
			<div class="col-md-6 w3-banner-grid-left">
				<div class="w3-banner-img">
					<img src="/assets/images/foto.jpg" alt="img">
					<h3 class="test">Bruno Freitas</h3>
					<p class="test" >Fullstack developer</p>
				</div>
			</div>
			<div class="col-md-6 w3-banner-grid-right">
			<div class="w3-banner-text">
				<h3>Career Goal</h3>
				<p>Over the course of seven years working with IT,
					more specifically with software engineering,
					I can say that I have matured quite a bit, technically.
					Today I can say that my main professional goal
					is to improve software development processes,
					to help balance quality, time and budget.</p>
			</div>
				<div class=" w3-right-addres-1">
				<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li class="agile-it-adress-left"><b>D.O.B</b></li>
										<li><span>:</span>09-04-1989</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>PHONE</b></li>
										<li><span>:</span>{{site.phone}}</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>ADDRESS</b></li>
										<li><span>:</span>{{site.location}}</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>E-MAIL</b></li>
										<li><span>:</span><a href="mailto:{{site.email}}"> {{site.email}}</a></li>
									</ul>
								</li>
                <li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>GITHUB</b></li>
										<li><span>:</span><a href="https://github.com/{{site.github_username}}"> {{site.github_username}}</a></li>
									</ul>
								</li>
                <li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>LINKEDIN</b></li>
										<li><span>:</span><a href="https://linkedin.com/in/{{site.linkedin_username}}"> {{site.linkedin_username}}</a></li>
									</ul>
								</li>
							</ul>

				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
		<div class="thim-click-to-bottom">
				<a href="#about" class="scroll">
					<i class="fa  fa-chevron-down"></i>
				</a>
			</div>

	</div>
<!-- banner -->
