<!--/ education -->
	<div class="w3-edu-top" id="experiences">
	<div class="container">
		<div class="w3-edu-grids">
			<div class="col-md-6 w3-edu-grid-left">
				<div class="w3-edu-grid-header">
				<h3>Experiences</h3>
				</div>
				<div class="col-md-4 w3-edu-info1">
					<h3>SINCE 2014</h3>
					<h4>Software Development Specialist</h4>
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>Fundação para inovações tecnológicas - FITEC</h3>
					<h4><i class="fa fa-code" aria-hidden="true"></i><span>programmer</span></h4>
					<p>Development and maintenance of web systems with Java language and using the
							following tools: Spring, JSF/Primefaces, JPA/Hibernate, Bootstrap, Mysql e Redis;
							Development of android native app.</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4 w3-edu-info1">
				<h3>2014 2012</h3>
				<h4>System Analyst</h4>
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>Banksysem software builder</h3>
					<h4><i class="fa fa-code" aria-hidden="true"></i><span>programmer</span></h4>
					<p>Development and maintenance of web systems with Java language and using the
						following frameworks: Demoiselle, JSF, Hibernate/JPA e Jasper Report</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4 w3-edu-info1">
				<h3>2012 2011</h3>
				<h4>System Developer</h4>
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>Unimed Caruaru</h3>
					<h4><i class="fa fa-code" aria-hidden="true"></i><span>programmer</span></h4>
					<p>Analysis and development of systems using the following technologies: ASP.NET, C#,
PL/SQL e SQL ANSI</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4 w3-edu-info1">
				<h3>2011 2010</h3>
				<h4>Trainee</h4>
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>Unimed Caruaru</h3>
					<h4><i class="fa fa-code" aria-hidden="true"></i><span>programmer</span></h4>
					<p>Analysis and development of systems using the following technologies: ASP.NET, C#,
PL/SQL e SQL ANSI</p>
			</div>
			<div class="clearfix"></div>
			</div>
			<div class="col-md-6 w3-edu-grid-right">
			<div class="w3-edu-grid-header">
			<h3>Education</h3>
			</div>
			<div class="col-md-3 w3-edu-info-right1">
				<h3>SINCE 2017</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>Federal Institute of Pernambuco</h3>
				<h4>Postgraduate, Management and Quality in Information Technology</h4>
				<p></p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-3 w3-edu-info-right1">
				<h3>2017</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>Oracle</h3>
				<h4>Java SE 6 Programmer certified professional</h4>
				<p></p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-3 w3-edu-info-right1">
				<h3>2015</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>Qualiti</h3>
				<h4>Android development</h4>
				<p></p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-3 w3-edu-info-right1">
				<h3>2014 2013</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>Qualiti</h3>
				<h4>Zend PHP certification preparatory</h4>
				<p></p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-3 w3-edu-info-right1">
				<h3>2013</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>Scrum Alliance</h3>
				<h4>ScrumMaster certification</h4>
				<p></p>
			</div>
			<div class="clearfix"></div>
				<div class="col-md-3 w3-edu-info-right1">
					<h3>2010</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>UMI</h3>
					<h4>Project management</h4>
					<p></p>
			</div>
			<div class="clearfix"></div>
				<div class="col-md-3 w3-edu-info-right1">
					<h3>2011 2007</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>university of Pernambuco - UPE</h3>
					<h4>Bachrelor, Information systems</h4>
					<p></p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
	</div>
<!-- //education -->
